body{
	background-color: #f6f6f9;
}

.App{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Row{
	display: flex;
	flex-direction: row;
}

.Row.CenterV{
	align-items: center;
}

.Row.CenterH{
	justify-content: center;
}

.Row .FillParent{
	flex: 1;
}